<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/js/bootstrap.bundle.min.js" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>

<body>
    <input type="checkbox" id="check"> 
    <label class="chat-btn" for="check"> 
        <i class="fa fa-commenting-o comment"></i> 
        <i class="fa fa-close close"></i> 
    </label> 
    
    <div class="wrapper"> 
        <div class="header"> 
            <h6>MedHelp</h6> 
        </div>
        <div class="container">
            <div class="chat-window">
                <form>
                    <div id="chatbox" class="chats">
                        <div class="msgBot">
                            <p>Selamat datang {{session.username}}, MedHelp bot siap membantu memberikan informasi layanan Puskesmas Keputih</p>              
                        </div>
                        <!-- <button id="yes" class="choice">Ya</button><button id="no" class="choice">Tidak</button> -->
                        <!-- <div class="msgUser">
                            <p>Hello</p>
                        </div>
                        <div class="msgBot">
                            <p>Halo, apakah ada yang bisa dibantu?</p>
                        </div>
                        <div class="msgUser">
                            <p>Apakah bisa konsultasi dengan psikolog di Puskesmas Keputih?</p>
                        </div>
                        <div class="msgBot">
                            <p>Puskesmas Keputih melayani konsultasi psikologi untuk mental health, konsultasi pra nikah, konsultasi ibu hamil dan pola asuh anak, konseling tumbuh kembang, dan konseling remaja.</p>
                        </div> -->
                    </div>
                    <div id="userInput" class="user-input">
                        <input id="text" type="text" placeholder="Ketikkan pesan....">
                        <button class="submit" type="submit" id="send">KIRIM</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

<script>
    $(document).ready(function() {
        $("form").on("submit", function(event) {
            var rawText = $("#text").val();
            var userHtml = '<div class="msgUser"><p>' + rawText + "</p></div>";
            $("#text").val("");
            $("#chatbox").append(userHtml);
            document.getElementById("userInput").scrollIntoView({
                block: "start",
                behavior: "smooth",
            });
            $.ajax({
                data: {
                    msg: rawText,
                },
                type: "POST",
                url: "/get",
            }).done(function(data) {
                var botHtml = '<div class="msgBot"><p>' + data + '</p></div>';
                $("#chatbox").append($.parseHTML(botHtml));
                document.getElementById("userInput").scrollIntoView({
                    block: "start",
                    behavior: "smooth",
                });
            });
            event.preventDefault();
        });
    });
</script>
</body>

</html>
